:root {
    --clrBlack: rgb(0, 0, 0);
    --clrWhite: rgb(255, 255, 255);
    --clrDark: rgb(26, 26, 26);
    --clrLight: rgb(219, 219, 219);
    --clrBoardBlackOld: rgb(26, 26, 26);
    --clrBoardWhiteOld: rgb(219, 219, 219);
    --clrBoardBlack: rgb(45, 43, 39);
    --clrBoardWhite: rgb(224, 219, 208);
    --clrAlpha: rgba(0, 0, 0, 0);
    --clrAccent1: rgb(16, 119, 55);
    --clrAccent2: rgb(50, 105, 157);
    --clrAccent3: rgb(146, 26, 26);
}

html {
    background-color: var(--clrLight);
    color: var(--clrDark);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
}

table {
    box-shadow: 0px 0px 20px 5px rgba(41, 41, 41, 0.75);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(41, 41, 41, 0.75);
    -moz-box-shadow: 0px 0px 20px 5px rgba(41, 41, 41, 0.75);
}

table,
td {
    border: var(--clrDark) 1px solid;
    border: none;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    font-size: 4rem;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    color: var(--clrLight);
    width: 100px;
    height: 100px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.black {
    background-color: var(--clrBoardBlack);
}

.white {
    background-color: var(--clrBoardWhite);
}

.bp {
    color: var(--clrBlack);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 1);
}

.wp {
    color: var(--clrWhite);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 1);
}

.wp,
.bp {
    transition: 0.0s;
    -webkit-transition: 0.0s;
    -moz-transition: 0.0s;
    -ms-transition: 0.0s;
    -o-transition: 0.0s;
}

.selectable:hover,
.move:hover {
    cursor: pointer;
}

.selected {
    box-shadow: 0px 0px 2px 3px var(--clrAccent1) inset;
    -webkit-box-shadow: 0px 0px 2px 3px var(--clrAccent1) inset;
    -moz-box-shadow: 0px 0px 2px 3px var(--clrAccent1) inset;
}

.move {
    box-shadow: 0px 0px 2px 3px var(--clrAccent2) inset;
    -webkit-box-shadow: 0px 0px 2px 3px var(--clrAccent2) inset;
    -moz-box-shadow: 0px 0px 2px 3px var(--clrAccent2) inset;
}

.hit {
    box-shadow: 0px 0px 2px 3px var(--clrAccent3) inset;
    -webkit-box-shadow: 0px 0px 2px 3px var(--clrAccent3) inset;
    -moz-box-shadow: 0px 0px 2px 3px var(--clrAccent3) inset;
}

.selected:hover {
    box-shadow: 0px 0px 10px 6px var(--clrAccent1) inset;
    -webkit-box-shadow: 0px 0px 10px 6px var(--clrAccent1) inset;
    -moz-box-shadow: 0px 0px 10px 6px var(--clrAccent1) inset;
}

.move:hover {
    box-shadow: 0px 0px 10px 6px var(--clrAccent2) inset;
    -webkit-box-shadow: 0px 0px 10px 6px var(--clrAccent2) inset;
    -moz-box-shadow: 0px 0px 10px 6px var(--clrAccent2) inset;
}

.hit:hover {
    box-shadow: 0px 0px 10px 6px var(--clrAccent3) inset;
    -webkit-box-shadow: 0px 0px 10px 6px var(--clrAccent3) inset;
    -moz-box-shadow: 0px 0px 10px 6px var(--clrAccent3) inset;
}

.selected,
.move,
.hit {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

@media screen and (max-width: 850px) {
    td {
        font-size: 6vw;
        width: 12vw;
        height: 12vw;
    }
    .bp {
        text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 1);
    }
    .wp {
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 1);
    }
}